<section class="index">
  <section class="jumbotron text-center">
    <h1 class="index-title">Invoice: <%=@invoice.id%> - <%=@invoice.status%></h1>
    <div class="col-1 invoice-index" >
      <a href="/invoices/<%= invoice.id %>/edit" class="btn btn-info">Edit</a>
    </div>
    <div class="col-1 invoice-index">
      <form action="/invoices/<%= invoice.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete" id="delete-btn" class="btn shadow"/>
      </form>
    </div>
  </section>
  <p><a href="">Merchant Name!</a></p>
  <section>
    <ul>
      <li>Item ID</li>
      <li>Item Title</li>
      <li>Quantity</li>
      <li>Unit Price</li>
    </ul>
  </section>
</section>
