<section class="index">
  <section class="jumbotron text-center">
    <h1 class="index-title">Invoice: <%=@invoice.id%> - <%=@invoice.status%></h1>
    <h2>Edit</h2>
    <h2>Delete</h2>
  </section>
  <p><a href="">Merchant Name!</a></p>
  
</section>
