
<form action="/merchants" method="post">
  <p>Create New Merchant:</p>
  <label>Name</label>
  <input type='text' name='merchant[name]' placeholder="Henry's Cafe"/><br/>
  <input type='submit' value='Create Merchant'/>
</form>

<form action="/merchants">
  <input type='submit' value= 'Cancel'/>
</form>
