<form action="/items" method="post">
  <p>Create New Item:</p>
  <label>Name</label>
  <input type='text' name='item[name]' placeholder="I'm an Item"/><br>
  <button type='submit'>Create Item</button>
</form>

<form action="/items">
  <button type='submit'>Cancel</button>
</form>
