header {
  /* background: #FAF0E6; */
  background: #364958;
  /* background: #55828b; */
  color: #c9e4ca;
  height: 50px;
  padding: 0 25px;
}

header nav {
  float: right;
}

header h1 {
  float: left;
  /* text-indent: -9999px;
  background: url('../images/dog-icon.svg') no-repeat; */
  height: 35px;
  width: 150px;
  margin-top: 18px;
}

nav li {
  display: inline-block;
  padding: 17px 10px;
}

nav li a {
  text-decoration: none;
  color: #c9e4ca;
}

nav li:hover {
  background: #3b6064;
  color: white;
  cursor: pointer;
}

/* Styling for Index Pages */

.index {
  background: #fefffe;

}

.dashboard-link {
  float: left;

}

.index-title {
  font-size: 36px;
  color:#c9e4ca;
}

/* #edit-btn {
  background: #c9e4ca;
} */
#delete-btn {
  /* background: #982649; */
  background:#3b6064;
  color: white;
}
#merchant {
  padding: 5% 5%;
}
.jumbotron {
  background: #3b6064;
  color: #c9e4ca;
}
.btn {
  padding: 14px 24px;
  letter-spacing: 1px;
  /* box-shadow: 10px 5px 5px teal; */
  /* border-radius:0; */
}
.col {
  margin-left: 5%;
}
/* .btn.shadow  {
  box-shadow: 10px 5px 5px teal;
} */
